grant {

      permission java.io.FilePermission "${build.directory}/-", "read";
      permission "java.lang.reflect.ReflectPermission" "suppressAccessChecks";
      permission "java.lang.RuntimePermission" "accessDeclaredMembers";

      permission "java.lang.RuntimePermission" "createSecurityManager";
      permission java.lang.RuntimePermission "setSecurityManager";
      permission "java.lang.RuntimePermission" "getProtectionDomain";
      permission "java.util.PropertyPermission" "*", "write";

      permission "java.util.PropertyPermission" "jsonb.creator-parameters-required", "read";
};